.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
 background: #3a4454;
 padding: 20px;
 border-radius: 10px;   
}
.calculator form input{
    border: o;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5 5 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;

}
.myH1{
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    color: blue;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;


}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
.myH2{
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    color: red;
    
}
form input.equals{
    width: 145px;
    color: red;
    

}
form input.A{
    color: #33ffd8;
}

